*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#008060,#00a884);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

    text-align:center;

    animation:aparecer .6s;

}

.card h1{

    color:#008060;

    margin-bottom:10px;

}

.card p{

    color:#666;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

    outline:none;

}

input:focus{

    border-color:#008060;

}

button{

    width:100%;

    padding:15px;

    border:none;

    background:#008060;

    color:white;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#006d52;

}

.cadastro{

    margin-top:25px;

}

.cadastro a{

    color:#008060;

    text-decoration:none;

    font-weight:bold;

}

.voltar{

    display:block;

    margin-top:25px;

    color:#555;

    text-decoration:none;

}

@keyframes aparecer{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}